*{
	background-color:#FFFFFF;
	margin:0;
	padding:0;
	border:0;
	font-size:inherit;
	font-weight:inherit;
	font-family:inherit;
	text-decoration:inherit;
	line-height:inherit;
	color:inherit;
}
html,body{
	font-size:18px;
 	line-height:30px;
	color:#444;
	text-shadow:0.5px 1px 3px #aaf;
}
body{
	text-align:center;
}
h1{
	padding-top: 0.5cm;
	font-size:2px;
	line-height:30px;
	font-weight:bold;
	color:black;
	font-family:"Yu Gothic",Helvetica,sans-serif;
	transition: font-size 2s;
}
.hero:hover h1{
	font-size:36px;
}
p{
	font-family:"Helvetica Neue",Helvetica,sans-serif;

}
img{
	border-radius:10%;
}
.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
opacity:0;
transition:opacity 1s linear;*
}
h2{
	font-size:48px;
	line-height:30px;
	font-weight:bold;
	padding-bottom:3cm;
	color:black;
	font-family:"Arial",Helvetica,sans-serif;
	transition: font-size 2s;
}
.projekty:hover h2{
	font-size:72px;
}

.projekty{
padding-top: 4cm;
height:790vh;
display:flex;
flex-direction:column;
justify-content:left;
}
.info{
padding-top: 4cm;
outline:100px solid #b3b3b3;
height:85vh;
display:flex;
flex-direction:column;
justify-content:left;
}

h3{
	text-align:left;
	padding-left:1cm;
	font-size:56px;
	color:rgb(105, 79, 204);
	background-color:inherit;
	font-family:"Arial",Helvetica,sans-serif;
	transition: 1s ease-in-out;
	width: 750px;
}
p.opis{
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	padding-bottom:1cm;
	padding-top:1cm;
	padding-left:1cm;
	padding-right:1cm;
	text-align:left;
}
h.opis_dzialania{
	text-align:center;
	font-size:36px;
	color: rgb(217, 191, 219);
	font-family:"Arial",Helvetica,sans-serif;
	width: 250px;
}


p.dodatkowe_opcje{
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	padding-bottom:1cm;
	padding-top:1cm;
	padding-left:1cm;
	padding-right:1cm;
	text-align:left;
}
p.dodatkowe_opcje sub{
	color:#fff;
	vertical-align:baseline;
	font-size:24px;
}
h.dodatkowe_opcje{
	text-align:left;
	font-size:36px;
	color:rgb(217, 191, 219);
	font-family:"Arial",Helvetica,sans-serif;
	width: 250px;
}


h.nabyte_umiejetnosci{
	text-align:center;
	font-size:32px;
	color:rgb(217, 113, 83);
	font-family:"Arial",Helvetica,sans-serif;
	width: 250px;
	transition:2s font-size;
}
.norskmemo:hover h.nabyte_umiejetnosci, .pagescheck:hover h.nabyte_umiejetnosci, .kalkulator:hover h.nabyte_umiejetnosci
, .okladka_kondensatora:hover h.nabyte_umiejetnosci, .arkanoid:hover h.nabyte_umiejetnosci, .javafx:hover h.nabyte_umiejetnosci{
	font-size:36px;
}
p.nabyte_umiejetnosci{
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	padding-bottom:1cm;
	padding-top:1cm;
	padding-left:1cm;
	padding-right:1cm;
	text-align:left;
}
p.nabyte_umiejetnosci sub{
	color:#fff;
	vertical-align:baseline;
	font-size:24px;
}
.norskmemo:hover h3{
	transform: translate(3em,0);
}
.pagescheck:hover h3{
	transform: translate(3em,0);
}
.javafx:hover h3{
	transform: translate(3em,0);
}
.arkanoid:hover h3{
	transform: translate(3em,0);
}
.kalkulator:hover h3{
	transform: translate(3em,0);
}
.okladka_kondensatora:hover h3{
	transform: translate(3em,0);
}
.hero:hover{
	opacity:1;
}
h5{
	padding-top: 1cm;
	background-color:#b3b3b3;
	height:20px;
	display:flex;
	flex-direction:column;
	justify-content:left;
	transition: 2s height;
}
.hero:hover h5{
	height:0px;
}
.photos{
	padding-top:1cm;
	flex-direction:row;
}
#norsk1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#norsk2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#norsk3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#norsk4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#pages1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#pages2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#pages3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#pages4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#javafx1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#javafx2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#javafx3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#javafx4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#arkanoid1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#arkanoid2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#arkanoid3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#kalkulator {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#okladka1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#okladka2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}



#norsk1:hover {opacity: 0.7;}
#norsk2:hover {opacity: 0.7;}
#norsk3:hover {opacity: 0.7;}
#norsk4:hover {opacity: 0.7;}
#pages1:hover {opacity: 0.7;}
#pages2:hover {opacity: 0.7;}
#pages3:hover {opacity: 0.7;}
#pages4:hover {opacity: 0.7;}
#javafx1:hover {opacity: 0.7;}
#javafx2:hover {opacity: 0.7;}
#javafx3:hover {opacity: 0.7;}
#javafx4:hover {opacity: 0.7;}
#arkanoid1:hover {opacity: 0.7;}
#arkanoid2:hover {opacity: 0.7;}
#arkanoid3:hover {opacity: 0.7;}
#kalkulator:hover {opacity: 0.7;}
#okladka1:hover {opacity: 0.7;}
#okladka2:hover {opacity: 0.7;}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
	border-radius:0%;
    display: block;
    max-width: 1200px;
	height: 650px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
	background-color:black;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
p.kontakt{
	padding-top:1cm;
}
p.mail{
	padding-bottom:1cm;
	padding-left:1cm;
	padding-right:1cm;
	font-size:56px;
	border-width:2px;
	border-color:green;
}
p.tel{
	padding-top:1cm;
	padding-bottom:1cm;
	padding-left:1cm;
	padding-right:1cm;
	font-size:56px;
	border-width:2px;
	border-color:green;
}
h6{
	font-size:48px;
	line-height:30px;
	font-weight:bold;
	padding-top:1cm;
	padding-bottom:1cm;
	color:black;
	font-family:"Arial",Helvetica,sans-serif;
	transition: font-size 2s;
}
p.tastrona{
	text-align:left;
	padding-left:1cm;
	font-size:24px;
	line-height:30px;
	font-weight:bold;
	color:black;
	font-family:"Arial",Helvetica,sans-serif;
}
.download{
	background-color: #3dbe4d;
    	border: none;
    	color: white;
    	padding: 15px 32px;
    	text-align: center;
	border-radius: 2px;
   	text-decoration: none;
    	display: inline-block;
    	font-size: 24px;
	-webkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;
}
.download:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.downloadBox{
	padding-bottom:1cm;
	inline-block:
}
.skill{
	height: 25px;
}
h.pobierz{
	text-align:center;
	font-size:32px;
	color:rgb(251, 113, 83);
	font-family:"Arial",Helvetica,sans-serif;
	width: 250px;
	transition:2s font-size;
}
.pobierzTitle{
	height: 25px;
	padding-bottom:1cm;
}
h8{
	color:red;
	font-size:24px;
}

h8 sub{
	color:black;
	font-size:24px;
	vertical-align:baseline;
}